.copy, .copy a, .copy a:hover, .copy a:active, .copy a:visited {
	color: #333333;
}


.TimeControl {
	background-color: black;
	opacity: 0.4;
	border: 1px solid #ccc;
	\-moz-border-radius: 25px;
	\-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 25px;
}
